{% extends 'base.html.twig' %}

{% block title %}Edit Data{% endblock %}

{% block body %}

<div class="table-responsive my-5">
    <table class="table table-striped table-bordered rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Edit Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ form_start(form) }}
                        <input type="hidden" name="_token" value="{{ csrf_token('update') }}">
                        {{ form_widget(form) }}
                        <button class="btn btn-dark btn-punch-out">Update <span><i class="fa fa-angle-right"></i></span></button>
                        <a href="{{ path("user_register") }}" class="btn btn-danger">Cancel</a>
                    {{ form_end(form) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
